* {
    box-sizing: border-box;
}
body {
    background-color: #222;
    margin: 0;
    padding: 0;
    font-family: Consolas;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#horloge {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 300px;
    background-color: #fff;
    border: 25px solid #111;
    box-shadow: inset 0px 0px 100px rgb(109, 166, 199), 0px 0px 100px rgba(78, 255, 217, 0.3);
    background-size: cover;
    background-position: center;
}

#lines {
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 3px dashed #222;
    border-radius: 100%;
}

.chiffre {
    position: absolute;
    left: 0px;
    width: 100%;
    font-size: 50px;
    color: #222;
    margin: 0;
    padding: 0;
    pointer-events: none;
}
.chiffre-3 {
    top: 50%;
    text-align: right;
    transform: translateY(-50%);
    padding-right: 10px;
}
.chiffre-9 {
    top: 50%;
    text-align: left;
    transform: translateY(-50%);
    padding-left: 10px;
}
.chiffre-6 {
    bottom: 0px;
    text-align: center;
}
.chiffre-12 {
    top: 0px;
    text-align: center;
}

#centre {
    width: 25px;
    height: 25px;
    background-color: #222;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#aiguilles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-90deg);
}

.aiguille {
    background-color: #222;
    transform-origin: left;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    /* transition: all 0.2s; /* Animation. Buggé avec rotation complète! */
}
#heures {
    width: 100px;
    height: 10px;
    margin-top: -5px;
    transform: rotate(0deg);
    z-index: 30;
}
#minutes {
    width: 140px;
    height: 8px;
    margin-top: -4px;
    transform: rotate(0deg);
    z-index: 20;
}
#secondes {
    width: 140px;
    height: 4px;
    margin-top: -2px;
    transform: rotate(0deg);
    z-index: 10;
}